.card{

    &__scroll{
        height: 45vh;
        overflow-y: scroll ;

        @include respond(phone){
           max-height: 25vh;
        }
    }

    &__list{
        position:relative;
        background-color: $color-grey-light-2;
        font-weight: 500;
        width: 100%;
        height: 3rem;

        &:not(:last-child){
            margin-bottom: 1rem;
        }

        &--text{
            display: inline-block;
            padding-left: 3rem;
            font-weight: 500;   
        }

        &--checkbox{
            width: 3rem;
            height: 3rem;
            color: $color-primary;;
            position: absolute;
            right: 1rem;
        }
    }
}