

.graficos{
    height: 40rem !important;
    width: calc(100vw - 3*$default-padding);
    overflow-x: auto;

    &__td{
        color: $color-black;
        position: relative !important;
        &--valor{
            display: inline-block;
          
        }
    }

    &__legenda--x{
        margin-top: 2rem;
        font-size: $default-font-size;
    }
}

#custom-effect tbody td:before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    width: 100%;
    height: 10px;
    transform: skewX(-45deg);
    transform-origin: top;
    background-color: lightgrey;
  }
  #custom-effect tbody td:after {
    content: '';
    position: absolute;
    top: -4px;
    right: -10px;
    width: 10px;
    height: 100%;
    transform: skewY(-45deg);
    transform-origin: top;
    background-color: lightgrey;
  }

  .legenda{
        font-size: $default-font-size;

        &__box{
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 7px;
            
        }
  }


  .pizza{

      width: 100% !important;
    &__legenda{
        font-size: $default-font-size;
    }

    &__grafico{
        transform: scale(8rem) !important;
    }
  }