.relatorio{
    @include clearfix;

    width: calc(100vw - 3*$default-padding);
    overflow-x: auto;

    &__btn{

        float: right;
        @include respond(phone){
            font-size: 1.2rem;
        }

        @include respond(phone){
            font-size: 1.2rem;
        }

        &--relatorio{
           background-color:  $color-secondary-dark;
        }

        &--grafico{
            background-color: $color-tertiary-light;   
        }

        &--pizza{
            background-color: $color-primary-light;
        }
    }

    &__tabela{
        font-size: $default-font-size;
        text-align: center;
        text-transform: uppercase;

    }
}